@tailwind base;
@tailwind components;
@tailwind utilities;


@layer  base{
  html {
    scroll-behavior: smooth;
    overscroll-behavior-block: contain;
    overflow-x: hidden;
  }

  * , *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    margin: 0;
    padding: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    
    @apply bg-transparent w-full border-slate-400 shadow-inner focus:shadow-slate-400/60
    focus:outline-none focus:border-gray-400 focus:ring-0 mb-5 mt-1.5 caret-black rounded
  }

  /* amber, main, yellow, blue, black, 
  text: neutral, stone */
}

:root {
  --main-color:#f70d28;
}

@layer utilities {

  .mainColor {
    color: var(--main-color);
  }

  /* === One big Hero Image Style === */

  .HeroImageOne {
    @apply max-h-48 imgxs:max-h-52 sm:max-h-60 md:max-h-80 group-hover:scale-110 selection:scale-100
    lg:max-h-96 xl:max-h-[400px] 2xl:max-h-[450px] md:min-h-[288px] min-h-[180px]
  }

  .HeroImageOneOverFlow {
    @apply relative overflow-clip snap-start m-0 p-0 mb-1 md:mr-1 md:mb-0 
  }

  /* ==== The three Hero Image Style ==== */

  .HeroImageMultiple {
    @apply md:max-h-80 lg:max-h-96 xl:max-h-[400px] 2xl:max-h-[450px] md:min-h-[288px] min-h-[180px]
  }

  .HeroImageThreeMultipleOverFlow {
    @apply overflow-x-auto scroll-px-0 overscroll-x-contain snap-mandatory lg:overflow-x-hidden
  }

  .HeroImageMultipleList {
    @apply max-h-36 imgxs:max-h-40 sm:max-h-44 md:max-h-full group-hover:scale-110 scale-100
  }

  .HeroImageMultipleListOverFlow {
    @apply relative snap-start overflow-clip my-0 mr-1 last:mr-0 md:mr-0 p-0 
  }

  .HeroImageMultipleListH3 {
    @apply capitalize tracking-wide w-full font-lora md:text-base text-base lg:text-xl font-bold cursor-pointer
  }


  /* General HeroImage stlye */

  .Imagetransition {
    @apply transition-all duration-300 ease-linear
  }

  .TextHeadertransition {
    @apply transition-all duration-300 delay-75 ease-in-out
  }

  .ImageTextTranslateY {
    @apply absolute z-30 inset-x-0 text-white max-w-fit translate-y-12 group-hover:translate-y-0 mx-1
  }

  .ImageTextTranslateYInvisible {
    @apply inline-block invisible cursor-pointer group-hover:visible
    translate-y-8 group-hover:translate-y-0 opacity-0 group-hover:opacity-100
  }


  /* Common posts Image style */

  .topRetangleImage {
    @apply max-h-44 imgxs:max-h-52 sm:max-h-60 md:max-h-44 lg:max-h-52
  }

  /* text editor styling start here */

  .postEditor img {
    object-fit: fill;
    object-position: center;
    cursor: pointer;
    width: auto;
    height: auto;
    max-height: 480px;
  }

  .postEditor .rdw-list-dropdown,
  .postEditor .rdw-text-align-dropdown,
  .postEditor .rdw-image-modal,
  .postEditor .rdw-colorpicker-modal,
  .postEditor .rdw-embedded-modal,
  .postEditor .rdw-emoji-modal,
  .postEditor .rdw-dropdown-optionwrapper {
    z-index: 30 !important;
  }

  .postEditor .rdw-embedded-modal-header-option {
    width: auto !important;
  }

  .editor ins {
    text-decoration: underline;
  }

  .editor del {
    text-decoration: line-through;
  }

  .editor h1,
  div[data-contents="true"] h1 {
    @apply text-4xl;
    @apply font-bold;
  }

  .editor h2,
  div[data-contents="true"] h2 {
    @apply text-3xl;
    @apply font-bold;
  }

  .editor h3,
  div[data-contents="true"] h3 {
    @apply text-2xl font-lora font-normal text-[#212121] mb-5;
    @apply font-bold ;
  }

  .editor h4,
  div[data-contents="true"] h4 {
    @apply text-xl;
    @apply font-semibold;
  }

  .editor h5,
  div[data-contents="true"] h5 {
    @apply text-lg;
    @apply font-semibold;
  }

  .editor h6,
  div[data-contents="true"] h6 {
    @apply text-sm;
    @apply font-semibold;
  }

  .editor code { 
    overflow-wrap: break-word;
    @apply font-mono bg-[#f1f1f1] rounded py-px px-0.5
  }

  .editor pre {
    direction: ltr;
    text-align: left;
    position: relative;
    white-space: pre-wrap;
    margin: 1em 0;
    padding: 1px 3px;
    background-color: #f1f1f1;
  }

  .editor blockquote {
    @apply lg:mt-12 lg:mb-12  px-0 leading-[.10rem]
  }
  
  .editor blockquote > span {
   @apply relative max-w-[38rem] block  pt-4 pb-5 text-center mx-auto before:absolute before:top-0 before:inset-x-0 before:w-16 before:mx-auto before:inline-block before:h-0.5 before:bg-[#e0e0e0] after:absolute after:bottom-0 after:inset-x-0 after:w-16 after:mx-auto after:inline-block after:h-0.5 after:bg-[#e0e0e0] 
   font-lora text-lg lg:text-[22px] leading-8 text-[#7a7a7a] cursor-pointer 
  }

  .editor blockquote {
   @apply relative max-w-[38rem] block  pt-4 pb-5 text-center mx-auto before:absolute before:top-0 before:inset-x-0 before:w-16 before:mx-auto before:inline-block before:h-0.5 before:bg-[#e0e0e0] after:absolute after:bottom-0 after:inset-x-0 after:w-16 after:mx-auto after:inline-block after:h-0.5 after:bg-[#e0e0e0] 
   font-lora text-lg lg:text-[22px] leading-8 text-[#7a7a7a] cursor-pointer 
  }

  .editor img,
  div[data-contents="true"] figure span {
    @apply max-h-[480px] w-full object-cover cursor-pointer mb-4 rounded text-center
  }

  .editor ul li {
    @apply list-disc
  }

  .editor ul ul li {
    list-style-type: circle;
    @apply list-inside
  }

  .editor ol li {
    @apply list-decimal
  }

  .editor ol ol li {
    @apply list-inside
  }

  .editor a,
  div[data-contents="true"] a{
    @apply text-[#f70d28] active:text-blue-600 visited:text-purple-600
  } 


  .editor p:first-child {
    @apply first-letter:uppercase first-letter:text-3xl first-letter:text-slate-500
   first-letter:align-bottom
  }

  
  /* textEditor Styling stop here */

  /* Home page Navigation settings and style start here */

  .links {
    -webkit-backface-visibility: hidden;
  }

  .nav-link{
    display: none;
    width: 0;
    height: 2px;
    background-color: var(--main-color);;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
  }

 .nav-link::before, 
 .nav-link::after{
    position: absolute;
    content: " ";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
  }

  .nav-link::before {
    left: 110%;
  }

  .actives + .nav-link::before,
  li:hover > .nav-link::before {
    width: 20%;
  }

  .nav-link::after {
    left: 140%;
  }

  .actives + .nav-link::after,
  li:hover > .nav-link::after {
    width: 15%;
  }

  .actives + .nav-link, 
  li:hover > .nav-link {
    opacity: 1;
    visibility: visible;
    width: 60%;
  } 

  /* Home page Navigation settings and style end here */

  /* scroll bar for some components settings and style start here */

.overflowScrollSmallScreen::-webkit-scrollbar {
  width: 0.1px;
}

.overflowScrollSmallScreen::-webkit-scrollbar-track {
  background-color: pink;
  border-radius: 50vw;
  margin-block: 0.5em;
}

.overflowScrollSmallScreen::-webkit-scrollbar-thumb {
  background-color: white;
  border: 0.25em solid white;
  border-radius: 100vw;
}

.overflowScrollSmallScreen::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.overflowScroll::-webkit-scrollbar {
  height: 12px;
}

.overflowScroll::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 50vw;
  margin-block: 0.5em;
}

.overflowScroll::-webkit-scrollbar-thumb {
  background-color: white;
  border: 0.25em solid white;
  border-radius: 100vw;
}

.overflowScroll::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%)
  }

  100% {
    background-color: hsl(200, 20%, 95%)
  }
}

 /* scroll bar for some components settings and style start here */

.activeTitle {
  border-bottom: 2px solid #f70d28;
}
}